/* palette-color {#270D5B/ #FF6CAB/ #FDDAE9/ #FCF6FA}
{
   #2a2a2a/ #202020/ #fff/ #ccc/ #FF6CAB
}
 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #2a2a2a;
    --second-bg-color: #202020;
    --text-color: #fff;
    --second-color: #ccc;
    --main-color: #FF6CAB;
    --big-font: 5rem;
    --h2-font: 3rem;
    --h3-font: 2.5rem;
    --p-font: 2rem;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 5% 22px 2%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
}

.logo {
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-right: 10%;
}

.logo:hover {
    color: var(--main-color);
    text-decoration: none;
}

span {
    color: var(--main-color);
}


.navlist {
    display: flex;
    list-style: none;
}

.navlist a {
    color: var(--second-color);
    font-size: 17px;
    font-weight: 500;
    margin: 0 25px;
    transition: all .40s ease;

}

.navlist a:hover {
    color: var(--main-color);
}

.navlist a:active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 35px;
    color: var(--text-color);
    z-index: 1000;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}

section {
    padding: 160px 15px 120px;
}

.home {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(./image/download.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#home-img {
    width: 600px;
    height: 700px;
    border-radius: 50%;
    margin: 10rem;

}


.home-text h1 {
    font-size: var(--big-font);
    font-weight: 700;
    color: var(--text-color);
    line-height: 1.1;
    margin: 0 0 8px 10%;
}

#sec-title {
    margin: 0 0 35px 10%;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.1;
}

.home-text p {
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 10%;
}

.button {
    display: inline-block;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
}

.btn {
    display: inline-block;
    padding: 12px;
    background: var(--main-color);
    border-radius: 5px;
    color: var(--text-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 500;
    transition: all .40s ease;
}

.btn:hover {
    transform: scale(0.9);
}


/* --------------------------------------------------- */


.about {
    padding: 40px 15px;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    grid-template-areas: "img cont cont";
}

#about-img {
    width: 550px;
    height: 400px;
    margin-left: 5%;
    border-radius: 5px;
    grid-area: img;
}

.about-text {
    grid-area: cont;
    margin: 4rem;
}

.about-text h2 {
    font-size: var(--h2-font);
    margin-bottom: 4rem;
    line-height: 1.5;

}


.about-text p {
    color: var(--second-color);
    font-size: var(--p-font);
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.8;

}


/* ---------------------------------------------- */

.education {
    padding: 100px 15px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: repeat(2, 200px);
    grid-template-columns: repeat(3, 30%);
}

.education h2 {
    font-size: var(--h2-font);
    line-height: 1.1;
    grid-column: 1/4;

}

#edu-icon {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    justify-self: center;
    grid-column: 1/2;
    margin-right: 1rem;
}

.edu-text {
    grid-column: 2/4;
}

.education h3 {
    font-size: var(--h3-font);
    margin-bottom: 1rem;
    line-height: 1.5;
}


.education p {
    color: var(--second-color);
    font-size: var(--h3-font);
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;

}

/* -------------------------------------------------- */

.skills {
    padding: 80px 15px;
    background-color: var(--second-bg-color);
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: repeat(2, 200px);
    grid-template-columns: repeat(2, 45%);
    gap: 4rem;
}

.skills h2 {
    font-size: var(--h2-font);
    line-height: 1.1;
    grid-column: 1/4;
}

.skills div {
    padding: 10px;
    background-color: var(--bg-color);
}

.soft-skills {
    grid-column: 1/2
}

.technical-skills {
    grid-column: 2/3;
}

.skills h3 {
    font-size: var(--h3-font);
    margin-bottom: 1rem;
    line-height: 1.5;
}

.skills ul {
    margin-left: 2rem;
    font-size: var(--p-font);
}

/* ------------------------------------------------------- */

.project {
    padding: 80px 15px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 100px auto ;
    grid-template-columns: repeat(3, 30%);
    gap: 2rem;
}

.project h2 {
    font-size: var(--h2-font);
    line-height: 1.1;
    grid-column: 1/4;
}

.project div {
    background-color: var(--second-bg-color);
    padding-bottom: 1rem;
}

.pro-one {
    grid-column: 1/2;
}

.pro-two {
    grid-column: 2/3;
}

.pro-three {
    grid-column: 3/4;
}

.pro-img {
    width: 100%;
    height: 200px;
    border-radius: 2%;
    justify-self: center;

}

.project h3 {
    padding: 1rem;
    font-size: var(--h3-font);
    margin-bottom: 1rem;
    line-height: 1.5;
}


.project p {
    padding: 1rem;
    color: var(--second-color);
    font-size: var(--h3-font);
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;

}

/* ------------------------------------------------------------ */

.certificat {
    background-color: var(--second-bg-color);
    
    padding: 80px 15px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 100px auto;
    grid-template-columns: repeat(3, 30%);
    gap: 2rem;
}


.certificat h2 {
    font-size: var(--h2-font);
    line-height: 1.1;
    grid-column: 1/4;
}

.certificat div {
    background-color: var(--bg-color);
    padding-bottom: 1rem;
}


.cer-one {
    grid-column: 1/2;
}

.cer-two {
    grid-column: 2/3;
}

.cer-three {
    grid-column: 3/4;
}


.certificat h3 {
    padding: 1rem;
    font-size: var(--h3-font);
    margin-bottom: 1rem;
    line-height: 1.5;
}


.certificat p {
    padding: 1rem;
    color: var(--second-color);
    font-size: var(--h3-font);
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;

}


/* ------------------------------------------------------------ */

.references {
    padding: 10px 15px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 100px 300px;
    grid-template-columns: repeat(3, 30%);

}


.references h2 {
    font-size: var(--h2-font);
    line-height: 1.1;
    grid-column: 1/4;

}

#ref-icon {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    justify-self: center;
    grid-column: 1/2;
    margin-right: 1rem;
}

.ref-info {
    grid-column: 2/4;
}

.references h3 {
    font-size: var(--h3-font);
    margin-bottom: 1rem;
    line-height: 1.5;
}


.references p {
    color: var(--second-color);
    font-size: var(--h3-font);
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;

}


/* ------------------------------------------------------ */

.footer {
    background-color: var(--second-bg-color);
    padding: 10px 15px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-rows: 100px 100px 100px 80px;
    grid-template-columns: repeat(3, 30%);

}

.footer h3 {
    font-size: var(--p-font);
    line-height: 1.1;
    grid-column: 1/4;

}

#loc{
    color: var(--second-color);
    grid-column: 1/2;
}

#em{
    color: var(--second-color);
    grid-column: 2/3;
}

#git{
    color: var(--second-color);
    grid-column: 1/2;
}
#lin{
    color: var(--second-color);
    grid-column: 2/4;
}
#copy{
    justify-self:end;
    color: var(--second-color);
    grid-column: 1/4;
}




